@page "/ListaDeNombre"
@using ProyectoLenguajedeProgramacion.Componentes;

<div class="card">
    <div class="card-header">
        <h1 class="oi oi-monitor">Bienvenido</h1>
    </div>
    <div class="card-body">
        <TodoList></TodoList>
    </div>
    <div class="card-footer"></div>
</div>

@code {

}
